

      html {
        height: 100%;
        width: 100%;
      }

      body {
        font-family: 'Open Sans', serif;
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
        -webkit-font-smoothing: antialiased;
        overflow: -moz-scrollbars-none;
        -ms-overflow-style: none;
      }

      
        @font-face {
          font-family: tsukushi-a-round-gothic_bold;
          src: url(assets/tsukushi-a-round-gothic_bold.ttf);
        }
        

      .android-3 {

      display: block;
      position: absolute;
      box-sizing: content-box;
      -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      opacity: 1;
      cursor: default;
      margin-top: 0.00px;
      margin-right: 0.00px;
      margin-bottom: 0.00px;
      margin-left: 0.00px;
      padding-top: 0.00px;
      padding-right: 0.00px;
      padding-bottom: 0.00px;
      padding-left: 0.00px;
      overflow-x: auto;
      overflow-y: auto;
      background-color: rgba(239, 239, 239, 1);
      width: 360.00px;
    height: 640.00px;
    left: 0px;
    top: 0px;

}

.android-3 .gettyimages-914908804-4 {
    position: absolute;
      box-sizing: content-box;
      -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      background-image: url("assets/gettyimages-914908804-4.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
      opacity: 1;
      cursor: default;
      margin-top: 0.00px;
      margin-right: 0.00px;
      margin-bottom: 0.00px;
      margin-left: 0.00px;
      padding-top: 0.00px;
      padding-right: 0.00px;
      padding-bottom: 0.00px;
      padding-left: 0.00px;
      background-color: rgba(255, 255, 255, 0);
      border-bottom-color: rgba(112, 112, 112, 1);
      border-bottom-style: none;
      border-bottom-width: 1.00px;
      border-left-color: rgba(112, 112, 112, 1);
      border-left-style: none;
      border-left-width: 1.00px;
      border-right-color: rgba(112, 112, 112, 1);
      border-right-style: none;
      border-right-width: 1.00px;
      border-top-color: rgba(112, 112, 112, 1);
      border-top-style: none;
      border-top-width: 1.00px;
      border-top-left-radius: 0.00px;
      border-top-right-radius: 0.00px;
      border-bottom-left-radius: 0.00px;
      border-bottom-right-radius: 0.00px;
      box-shadow: none;
      width: 80.00px;
    height: 80.00px;
    left: 140.00px;
    top: 42.00px;

}

.android-3 .ft1 {
    position: absolute;
      box-sizing: content-box;
      -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      background-image: url("assets/ft1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
      opacity: 1;
      cursor: default;
      margin-top: 0.00px;
      margin-right: 0.00px;
      margin-bottom: 0.00px;
      margin-left: 0.00px;
      padding-top: 0.00px;
      padding-right: 0.00px;
      padding-bottom: 0.00px;
      padding-left: 0.00px;
      background-color: rgba(255, 255, 255, 0);
      border-bottom-color: rgba(112, 112, 112, 1);
      border-bottom-style: none;
      border-bottom-width: 1.00px;
      border-left-color: rgba(112, 112, 112, 1);
      border-left-style: none;
      border-left-width: 1.00px;
      border-right-color: rgba(112, 112, 112, 1);
      border-right-style: none;
      border-right-width: 1.00px;
      border-top-color: rgba(112, 112, 112, 1);
      border-top-style: none;
      border-top-width: 1.00px;
      border-top-left-radius: 37.00px;
      border-top-right-radius: 37.00px;
      border-bottom-left-radius: 37.00px;
      border-bottom-right-radius: 37.00px;
      box-shadow: none;
      width: 72.00px;
    height: 71.00px;
    left: 144.00px;
    top: 469.00px;

}

.android-3 .ft11 {
    position: absolute;
      box-sizing: content-box;
      -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      background-image: url("assets/ft1-3cef7105.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
      opacity: 1;
      cursor: default;
      margin-top: 0.00px;
      margin-right: 0.00px;
      margin-bottom: 0.00px;
      margin-left: 0.00px;
      padding-top: 0.00px;
      padding-right: 0.00px;
      padding-bottom: 0.00px;
      padding-left: 0.00px;
      background-color: rgba(255, 255, 255, 0);
      border-bottom-color: rgba(112, 112, 112, 1);
      border-bottom-style: none;
      border-bottom-width: 1.00px;
      border-left-color: rgba(112, 112, 112, 1);
      border-left-style: none;
      border-left-width: 1.00px;
      border-right-color: rgba(112, 112, 112, 1);
      border-right-style: none;
      border-right-width: 1.00px;
      border-top-color: rgba(112, 112, 112, 1);
      border-top-style: none;
      border-top-width: 1.00px;
      border-top-left-radius: 37.00px;
      border-top-right-radius: 37.00px;
      border-bottom-left-radius: 37.00px;
      border-bottom-right-radius: 37.00px;
      box-shadow: none;
      width: 72.00px;
    height: 71.00px;
    left: 230.00px;
    top: 469.00px;

}

.android-3 .ft12 {
    position: absolute;
      box-sizing: content-box;
      -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      background-image: url("assets/ft1-eebcffc0.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
      opacity: 1;
      cursor: default;
      margin-top: 0.00px;
      margin-right: 0.00px;
      margin-bottom: 0.00px;
      margin-left: 0.00px;
      padding-top: 0.00px;
      padding-right: 0.00px;
      padding-bottom: 0.00px;
      padding-left: 0.00px;
      background-color: rgba(255, 255, 255, 0);
      border-bottom-color: rgba(112, 112, 112, 1);
      border-bottom-style: none;
      border-bottom-width: 1.00px;
      border-left-color: rgba(112, 112, 112, 1);
      border-left-style: none;
      border-left-width: 1.00px;
      border-right-color: rgba(112, 112, 112, 1);
      border-right-style: none;
      border-right-width: 1.00px;
      border-top-color: rgba(112, 112, 112, 1);
      border-top-style: none;
      border-top-width: 1.00px;
      border-top-left-radius: 37.00px;
      border-top-right-radius: 37.00px;
      border-bottom-left-radius: 37.00px;
      border-bottom-right-radius: 37.00px;
      box-shadow: none;
      width: 72.00px;
    height: 71.00px;
    left: 58.00px;
    top: 469.00px;

}

.android-3 .ft13 {
    position: absolute;
      box-sizing: content-box;
      -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      background-image: url("assets/ft1-65bc7193.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
      opacity: 1;
      cursor: default;
      margin-top: 0.00px;
      margin-right: 0.00px;
      margin-bottom: 0.00px;
      margin-left: 0.00px;
      padding-top: 0.00px;
      padding-right: 0.00px;
      padding-bottom: 0.00px;
      padding-left: 0.00px;
      background-color: rgba(255, 255, 255, 0);
      border-bottom-color: rgba(112, 112, 112, 1);
      border-bottom-style: none;
      border-bottom-width: 1.00px;
      border-left-color: rgba(112, 112, 112, 1);
      border-left-style: none;
      border-left-width: 1.00px;
      border-right-color: rgba(112, 112, 112, 1);
      border-right-style: none;
      border-right-width: 1.00px;
      border-top-color: rgba(112, 112, 112, 1);
      border-top-style: none;
      border-top-width: 1.00px;
      border-top-left-radius: 37.00px;
      border-top-right-radius: 37.00px;
      border-bottom-left-radius: 37.00px;
      border-bottom-right-radius: 37.00px;
      box-shadow: none;
      width: 42.00px;
    height: 42.00px;
    left: 159.00px;
    top: 552.00px;

}

.android-3 .ft14 {
    position: absolute;
      box-sizing: content-box;
      -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      background-image: url("assets/ft1-a7bf21d0.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
      opacity: 1;
      cursor: default;
      margin-top: 0.00px;
      margin-right: 0.00px;
      margin-bottom: 0.00px;
      margin-left: 0.00px;
      padding-top: 0.00px;
      padding-right: 0.00px;
      padding-bottom: 0.00px;
      padding-left: 0.00px;
      background-color: rgba(255, 255, 255, 0);
      border-bottom-color: rgba(112, 112, 112, 1);
      border-bottom-style: none;
      border-bottom-width: 1.00px;
      border-left-color: rgba(112, 112, 112, 1);
      border-left-style: none;
      border-left-width: 1.00px;
      border-right-color: rgba(112, 112, 112, 1);
      border-right-style: none;
      border-right-width: 1.00px;
      border-top-color: rgba(112, 112, 112, 1);
      border-top-style: none;
      border-top-width: 1.00px;
      border-top-left-radius: 37.00px;
      border-top-right-radius: 37.00px;
      border-bottom-left-radius: 37.00px;
      border-bottom-right-radius: 37.00px;
      box-shadow: none;
      width: 42.00px;
    height: 42.00px;
    left: 214.00px;
    top: 552.00px;

}

.android-3 .ft15 {
    position: absolute;
      box-sizing: content-box;
      -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      background-image: url("assets/ft1-c91e0413.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
      opacity: 1;
      cursor: default;
      margin-top: 0.00px;
      margin-right: 0.00px;
      margin-bottom: 0.00px;
      margin-left: 0.00px;
      padding-top: 0.00px;
      padding-right: 0.00px;
      padding-bottom: 0.00px;
      padding-left: 0.00px;
      background-color: rgba(255, 255, 255, 0);
      border-bottom-color: rgba(112, 112, 112, 1);
      border-bottom-style: none;
      border-bottom-width: 1.00px;
      border-left-color: rgba(112, 112, 112, 1);
      border-left-style: none;
      border-left-width: 1.00px;
      border-right-color: rgba(112, 112, 112, 1);
      border-right-style: none;
      border-right-width: 1.00px;
      border-top-color: rgba(112, 112, 112, 1);
      border-top-style: none;
      border-top-width: 1.00px;
      border-top-left-radius: 37.00px;
      border-top-right-radius: 37.00px;
      border-bottom-left-radius: 37.00px;
      border-bottom-right-radius: 37.00px;
      box-shadow: none;
      width: 42.00px;
    height: 42.00px;
    left: 104.00px;
    top: 552.00px;

}

.android-3 .d18 {
    position: absolute;
      box-sizing: content-box;
      -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      opacity: 1;
      cursor: default;
      margin-top: 0.00px;
      margin-right: 0.00px;
      margin-bottom: 0.00px;
      margin-left: 0.00px;
      padding-top: 0.00px;
      padding-right: 0.00px;
      padding-bottom: 0.00px;
      padding-left: 0.00px;
      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      letter-spacing: 0.00px;
      color: rgba(115, 253, 234, 1);
      -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
      font-size: 12.00px;
      font-weight: 700;
    font-style: normal;
      font-family: tsukushi-a-round-gothic_bold, Arial;
      box-shadow: none;
      overflow-x: unset;
      overflow-y: unset;
      width: 23.00px;
    height: 12.00px;
    left: 113.00px;
    top: 567.00px;

}

.android-3 .d18 .d18-0 {
    color: rgba(115, 253, 234, 1);
    font-weight: 700;
    font-style: normal;
    font-size: 12.00px;
    font-family: 'Tsukushi A Round Gothic', Arial;
    letter-spacing: -0.72;
    undefined
}

.android-3 .d18 .d18-1 {
    color: rgba(115, 253, 234, 1);
    font-weight: 700;
    font-style: normal;
    font-size: 12.00px;
    font-family: 'Tsukushi A Round Gothic', Arial;
    letter-spacing: -0.6;
    undefined
}

.android-3 .d18 .d18-2 {
    color: rgba(115, 253, 234, 1);
    font-weight: 700;
    font-style: normal;
    font-size: 12.00px;
    font-family: 'Tsukushi A Round Gothic', Arial;
    letter-spacing: 0;
    undefined
}

.android-3 .s {
    position: absolute;
      box-sizing: content-box;
      -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      opacity: 1;
      cursor: default;
      margin-top: 0.00px;
      margin-right: 0.00px;
      margin-bottom: 0.00px;
      margin-left: 0.00px;
      padding-top: 0.00px;
      padding-right: 0.00px;
      padding-bottom: 0.00px;
      padding-left: 0.00px;
      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      letter-spacing: -0.65px;
      color: rgba(115, 253, 234, 1);
      -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
      font-size: 13.00px;
      font-weight: 700;
    font-style: normal;
      font-family: tsukushi-a-round-gothic_bold, Arial;
      box-shadow: none;
      overflow-x: auto;
      overflow-y: auto;
      width: 7.00px;
    height: 12.00px;
    left: 176.00px;
    top: 567.00px;

}

.android-3 .t9 {
    position: absolute;
      box-sizing: content-box;
      -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      opacity: 1;
      cursor: default;
      margin-top: 0.00px;
      margin-right: 0.00px;
      margin-bottom: 0.00px;
      margin-left: 0.00px;
      padding-top: 0.00px;
      padding-right: 0.00px;
      padding-bottom: 0.00px;
      padding-left: 0.00px;
      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      letter-spacing: -0.60px;
      color: rgba(115, 253, 234, 1);
      -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
      font-size: 12.00px;
      font-weight: 700;
    font-style: normal;
      font-family: tsukushi-a-round-gothic_bold, Arial;
      box-shadow: none;
      overflow-x: unset;
      overflow-y: unset;
      width: 16.00px;
    height: 12.00px;
    left: 227.00px;
    top: 567.00px;

}

.android-3 .t9 .t9-0 {
    color: rgba(115, 253, 234, 1);
    font-weight: 700;
    font-style: normal;
    font-size: 12.00px;
    font-family: 'Tsukushi A Round Gothic', Arial;
    letter-spacing: 0;
    undefined
}

.android-3 .t9 .t9-1 {
    color: rgba(115, 253, 234, 1);
    font-weight: 700;
    font-style: normal;
    font-size: 12.00px;
    font-family: 'Tsukushi A Round Gothic', Arial;
    letter-spacing: -0.6;
    undefined
}

.android-3 .kisspng-computer-icons-portable-network-graphics-glass-sha-5b82e87e4e86497273280415353058543216-bgood {
    position: absolute;
      box-sizing: content-box;
      -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      background-image: url("assets/kisspng-computer-icons-portable-network-graphics-glass-sha-5b82e87e4e86497273280415353058543216-bgood.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
      opacity: 1;
      cursor: default;
      margin-top: 0.00px;
      margin-right: 0.00px;
      margin-bottom: 0.00px;
      margin-left: 0.00px;
      padding-top: 0.00px;
      padding-right: 0.00px;
      padding-bottom: 0.00px;
      padding-left: 0.00px;
      background-color: rgba(255, 255, 255, 0);
      border-bottom-color: rgba(112, 112, 112, 1);
      border-bottom-style: none;
      border-bottom-width: 1.00px;
      border-left-color: rgba(112, 112, 112, 1);
      border-left-style: none;
      border-left-width: 1.00px;
      border-right-color: rgba(112, 112, 112, 1);
      border-right-style: none;
      border-right-width: 1.00px;
      border-top-color: rgba(112, 112, 112, 1);
      border-top-style: none;
      border-top-width: 1.00px;
      border-top-left-radius: 0.00px;
      border-top-right-radius: 0.00px;
      border-bottom-left-radius: 0.00px;
      border-bottom-right-radius: 0.00px;
      box-shadow: none;
      width: 58.00px;
    height: 57.00px;
    left: 65.00px;
    top: 476.00px;

}

.android-3 .kisspng-computer-icons-portable-network-graphics-glass-sha-5b82e87e4e86497273280415353058543216-bgood1 {
    position: absolute;
      box-sizing: content-box;
      -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      background-image: url("assets/kisspng-computer-icons-portable-network-graphics-glass-sha-5b82e87e4e86497273280415353058543216-bgood-03bfea3c.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
      opacity: 1;
      cursor: default;
      margin-top: 0.00px;
      margin-right: 0.00px;
      margin-bottom: 0.00px;
      margin-left: 0.00px;
      padding-top: 0.00px;
      padding-right: 0.00px;
      padding-bottom: 0.00px;
      padding-left: 0.00px;
      background-color: rgba(255, 255, 255, 0);
      border-bottom-color: rgba(112, 112, 112, 1);
      border-bottom-style: none;
      border-bottom-width: 1.00px;
      border-left-color: rgba(112, 112, 112, 1);
      border-left-style: none;
      border-left-width: 1.00px;
      border-right-color: rgba(112, 112, 112, 1);
      border-right-style: none;
      border-right-width: 1.00px;
      border-top-color: rgba(112, 112, 112, 1);
      border-top-style: none;
      border-top-width: 1.00px;
      border-top-left-radius: 0.00px;
      border-top-right-radius: 0.00px;
      border-bottom-left-radius: 0.00px;
      border-bottom-right-radius: 0.00px;
      box-shadow: none;
      width: 58.00px;
    height: 57.00px;
    left: 151.00px;
    top: 476.00px;

}

.android-3 .kisspng-computer-icons-portable-network-graphics-glass-sha-5b82e87e4e86497273280415353058543216-bgood2 {
    position: absolute;
      box-sizing: content-box;
      -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      background-image: url("assets/kisspng-computer-icons-portable-network-graphics-glass-sha-5b82e87e4e86497273280415353058543216-bgood-5688c55a.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
      opacity: 1;
      cursor: default;
      margin-top: 0.00px;
      margin-right: 0.00px;
      margin-bottom: 0.00px;
      margin-left: 0.00px;
      padding-top: 0.00px;
      padding-right: 0.00px;
      padding-bottom: 0.00px;
      padding-left: 0.00px;
      background-color: rgba(255, 255, 255, 0);
      border-bottom-color: rgba(112, 112, 112, 1);
      border-bottom-style: none;
      border-bottom-width: 1.00px;
      border-left-color: rgba(112, 112, 112, 1);
      border-left-style: none;
      border-left-width: 1.00px;
      border-right-color: rgba(112, 112, 112, 1);
      border-right-style: none;
      border-right-width: 1.00px;
      border-top-color: rgba(112, 112, 112, 1);
      border-top-style: none;
      border-top-width: 1.00px;
      border-top-left-radius: 0.00px;
      border-top-right-radius: 0.00px;
      border-bottom-left-radius: 0.00px;
      border-bottom-right-radius: 0.00px;
      box-shadow: none;
      width: 58.00px;
    height: 57.00px;
    left: 237.00px;
    top: 476.00px;

}

.android-3 .m27 {
    position: absolute;
      box-sizing: content-box;
      -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      opacity: 1;
      cursor: default;
      margin-top: 0.00px;
      margin-right: 0.00px;
      margin-bottom: 0.00px;
      margin-left: 0.00px;
      padding-top: 0.00px;
      padding-right: 0.00px;
      padding-bottom: 0.00px;
      padding-left: 0.00px;
      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      letter-spacing: 0.00px;
      color: rgba(115, 253, 234, 1);
      -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
      font-size: 18.00px;
      font-weight: 700;
    font-style: normal;
      font-family: tsukushi-a-round-gothic_bold, Arial;
      box-shadow: none;
      overflow-x: unset;
      overflow-y: unset;
      width: 39.00px;
    height: 18.00px;
    left: 75.00px;
    top: 495.00px;

}

.android-3 .m54 {
    position: absolute;
      box-sizing: content-box;
      -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      opacity: 1;
      cursor: default;
      margin-top: 0.00px;
      margin-right: 0.00px;
      margin-bottom: 0.00px;
      margin-left: 0.00px;
      padding-top: 0.00px;
      padding-right: 0.00px;
      padding-bottom: 0.00px;
      padding-left: 0.00px;
      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      letter-spacing: 0.00px;
      color: rgba(115, 253, 234, 1);
      -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
      font-size: 18.00px;
      font-weight: 700;
    font-style: normal;
      font-family: tsukushi-a-round-gothic_bold, Arial;
      box-shadow: none;
      overflow-x: unset;
      overflow-y: unset;
      width: 39.00px;
    height: 18.00px;
    left: 161.00px;
    top: 495.00px;

}

.android-3 .m81 {
    position: absolute;
      box-sizing: content-box;
      -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      opacity: 1;
      cursor: default;
      margin-top: 0.00px;
      margin-right: 0.00px;
      margin-bottom: 0.00px;
      margin-left: 0.00px;
      padding-top: 0.00px;
      padding-right: 0.00px;
      padding-bottom: 0.00px;
      padding-left: 0.00px;
      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      letter-spacing: -0.54px;
      color: rgba(115, 253, 234, 1);
      -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
      font-size: 18.00px;
      font-weight: 700;
    font-style: normal;
      font-family: tsukushi-a-round-gothic_bold, Arial;
      box-shadow: none;
      overflow-x: unset;
      overflow-y: unset;
      width: 38.00px;
    height: 18.00px;
    left: 247.00px;
    top: 496.00px;

}

.android-3 .m81 .m81-0 {
    color: rgba(115, 253, 234, 1);
    font-weight: 700;
    font-style: normal;
    font-size: 18.00px;
    font-family: 'Tsukushi A Round Gothic', Arial;
    letter-spacing: 0.54;
    undefined
}

.android-3 .m81 .m81-1 {
    color: rgba(115, 253, 234, 1);
    font-weight: 700;
    font-style: normal;
    font-size: 18.00px;
    font-family: 'Tsukushi A Round Gothic', Arial;
    letter-spacing: -0.9000000000000001;
    undefined
}

.android-3 .m81 .m81-2 {
    color: rgba(115, 253, 234, 1);
    font-weight: 700;
    font-style: normal;
    font-size: 18.00px;
    font-family: 'Tsukushi A Round Gothic', Arial;
    letter-spacing: -0.54;
    undefined
}

.android-3 .kisspng-computer-icons-portable-network-graphics-glass-sha-5b82e87e4e86497273280415353058543216-bgood3 {
    position: absolute;
      box-sizing: content-box;
      -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      background-image: url("assets/kisspng-computer-icons-portable-network-graphics-glass-sha-5b82e87e4e86497273280415353058543216-bgood-679cabdd.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
      opacity: 1;
      cursor: default;
      margin-top: 0.00px;
      margin-right: 0.00px;
      margin-bottom: 0.00px;
      margin-left: 0.00px;
      padding-top: 0.00px;
      padding-right: 0.00px;
      padding-bottom: 0.00px;
      padding-left: 0.00px;
      background-color: rgba(255, 255, 255, 0);
      border-bottom-color: rgba(112, 112, 112, 1);
      border-bottom-style: none;
      border-bottom-width: 1.00px;
      border-left-color: rgba(112, 112, 112, 1);
      border-left-style: none;
      border-left-width: 1.00px;
      border-right-color: rgba(112, 112, 112, 1);
      border-right-style: none;
      border-right-width: 1.00px;
      border-top-color: rgba(112, 112, 112, 1);
      border-top-style: none;
      border-top-width: 1.00px;
      border-top-left-radius: 0.00px;
      border-top-right-radius: 0.00px;
      border-bottom-left-radius: 0.00px;
      border-bottom-right-radius: 0.00px;
      box-shadow: none;
      width: 34.00px;
    height: 34.00px;
    left: 108.00px;
    top: 556.00px;

}

.android-3 .kisspng-computer-icons-portable-network-graphics-glass-sha-5b82e87e4e86497273280415353058543216-bgood4 {
    position: absolute;
      box-sizing: content-box;
      -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      background-image: url("assets/kisspng-computer-icons-portable-network-graphics-glass-sha-5b82e87e4e86497273280415353058543216-bgood-93ad523b.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
      opacity: 1;
      cursor: default;
      margin-top: 0.00px;
      margin-right: 0.00px;
      margin-bottom: 0.00px;
      margin-left: 0.00px;
      padding-top: 0.00px;
      padding-right: 0.00px;
      padding-bottom: 0.00px;
      padding-left: 0.00px;
      background-color: rgba(255, 255, 255, 0);
      border-bottom-color: rgba(112, 112, 112, 1);
      border-bottom-style: none;
      border-bottom-width: 1.00px;
      border-left-color: rgba(112, 112, 112, 1);
      border-left-style: none;
      border-left-width: 1.00px;
      border-right-color: rgba(112, 112, 112, 1);
      border-right-style: none;
      border-right-width: 1.00px;
      border-top-color: rgba(112, 112, 112, 1);
      border-top-style: none;
      border-top-width: 1.00px;
      border-top-left-radius: 0.00px;
      border-top-right-radius: 0.00px;
      border-bottom-left-radius: 0.00px;
      border-bottom-right-radius: 0.00px;
      box-shadow: none;
      width: 34.00px;
    height: 34.00px;
    left: 163.00px;
    top: 556.00px;

}

.android-3 .kisspng-computer-icons-portable-network-graphics-glass-sha-5b82e87e4e86497273280415353058543216-bgood5 {
    position: absolute;
      box-sizing: content-box;
      -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      background-image: url("assets/kisspng-computer-icons-portable-network-graphics-glass-sha-5b82e87e4e86497273280415353058543216-bgood-ca8d88d8.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
      opacity: 1;
      cursor: default;
      margin-top: 0.00px;
      margin-right: 0.00px;
      margin-bottom: 0.00px;
      margin-left: 0.00px;
      padding-top: 0.00px;
      padding-right: 0.00px;
      padding-bottom: 0.00px;
      padding-left: 0.00px;
      background-color: rgba(255, 255, 255, 0);
      border-bottom-color: rgba(112, 112, 112, 1);
      border-bottom-style: none;
      border-bottom-width: 1.00px;
      border-left-color: rgba(112, 112, 112, 1);
      border-left-style: none;
      border-left-width: 1.00px;
      border-right-color: rgba(112, 112, 112, 1);
      border-right-style: none;
      border-right-width: 1.00px;
      border-top-color: rgba(112, 112, 112, 1);
      border-top-style: none;
      border-top-width: 1.00px;
      border-top-left-radius: 0.00px;
      border-top-right-radius: 0.00px;
      border-bottom-left-radius: 0.00px;
      border-bottom-right-radius: 0.00px;
      box-shadow: none;
      width: 34.00px;
    height: 34.00px;
    left: 218.00px;
    top: 556.00px;

}

.android-3 .m271 {
    position: absolute;
      box-sizing: content-box;
      -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      opacity: 1;
      cursor: default;
      margin-top: 0.00px;
      margin-right: 0.00px;
      margin-bottom: 0.00px;
      margin-left: 0.00px;
      padding-top: 0.00px;
      padding-right: 0.00px;
      padding-bottom: 0.00px;
      padding-left: 0.00px;
      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      letter-spacing: 0.00px;
      color: rgba(115, 253, 234, 1);
      -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
      font-size: 18.00px;
      font-weight: 700;
    font-style: normal;
      font-family: tsukushi-a-round-gothic_bold, Arial;
      box-shadow: none;
      overflow-x: unset;
      overflow-y: unset;
      width: 39.00px;
    height: 18.00px;
    left: 75.00px;
    top: 495.00px;

}

.android-3 .m811 {
    position: absolute;
      box-sizing: content-box;
      -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      opacity: 1;
      cursor: default;
      margin-top: 0.00px;
      margin-right: 0.00px;
      margin-bottom: 0.00px;
      margin-left: 0.00px;
      padding-top: 0.00px;
      padding-right: 0.00px;
      padding-bottom: 0.00px;
      padding-left: 0.00px;
      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      letter-spacing: -0.54px;
      color: rgba(115, 253, 234, 1);
      -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
      font-size: 18.00px;
      font-weight: 700;
    font-style: normal;
      font-family: tsukushi-a-round-gothic_bold, Arial;
      box-shadow: none;
      overflow-x: unset;
      overflow-y: unset;
      width: 38.00px;
    height: 18.00px;
    left: 247.00px;
    top: 496.00px;

}

.android-3 .m811 .m811-0 {
    color: rgba(115, 253, 234, 1);
    font-weight: 700;
    font-style: normal;
    font-size: 18.00px;
    font-family: 'Tsukushi A Round Gothic', Arial;
    letter-spacing: 0.54;
    undefined
}

.android-3 .m811 .m811-1 {
    color: rgba(115, 253, 234, 1);
    font-weight: 700;
    font-style: normal;
    font-size: 18.00px;
    font-family: 'Tsukushi A Round Gothic', Arial;
    letter-spacing: -0.9000000000000001;
    undefined
}

.android-3 .m811 .m811-2 {
    color: rgba(115, 253, 234, 1);
    font-weight: 700;
    font-style: normal;
    font-size: 18.00px;
    font-family: 'Tsukushi A Round Gothic', Arial;
    letter-spacing: -0.54;
    undefined
}

.android-3 .d181 {
    position: absolute;
      box-sizing: content-box;
      -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      opacity: 1;
      cursor: default;
      margin-top: 0.00px;
      margin-right: 0.00px;
      margin-bottom: 0.00px;
      margin-left: 0.00px;
      padding-top: 0.00px;
      padding-right: 0.00px;
      padding-bottom: 0.00px;
      padding-left: 0.00px;
      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      letter-spacing: 0.00px;
      color: rgba(115, 253, 234, 1);
      -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
      font-size: 12.00px;
      font-weight: 700;
    font-style: normal;
      font-family: tsukushi-a-round-gothic_bold, Arial;
      box-shadow: none;
      overflow-x: unset;
      overflow-y: unset;
      width: 23.00px;
    height: 12.00px;
    left: 113.00px;
    top: 567.00px;

}

.android-3 .d181 .d181-0 {
    color: rgba(115, 253, 234, 1);
    font-weight: 700;
    font-style: normal;
    font-size: 12.00px;
    font-family: 'Tsukushi A Round Gothic', Arial;
    letter-spacing: -0.72;
    undefined
}

.android-3 .d181 .d181-1 {
    color: rgba(115, 253, 234, 1);
    font-weight: 700;
    font-style: normal;
    font-size: 12.00px;
    font-family: 'Tsukushi A Round Gothic', Arial;
    letter-spacing: -0.6;
    undefined
}

.android-3 .d181 .d181-2 {
    color: rgba(115, 253, 234, 1);
    font-weight: 700;
    font-style: normal;
    font-size: 12.00px;
    font-family: 'Tsukushi A Round Gothic', Arial;
    letter-spacing: 0;
    undefined
}

.android-3 .s1 {
    position: absolute;
      box-sizing: content-box;
      -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      opacity: 1;
      cursor: default;
      margin-top: 0.00px;
      margin-right: 0.00px;
      margin-bottom: 0.00px;
      margin-left: 0.00px;
      padding-top: 0.00px;
      padding-right: 0.00px;
      padding-bottom: 0.00px;
      padding-left: 0.00px;
      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      letter-spacing: -0.65px;
      color: rgba(115, 253, 234, 1);
      -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
      font-size: 13.00px;
      font-weight: 700;
    font-style: normal;
      font-family: tsukushi-a-round-gothic_bold, Arial;
      box-shadow: none;
      overflow-x: auto;
      overflow-y: auto;
      width: 7.00px;
    height: 12.00px;
    left: 176.00px;
    top: 567.00px;

}

.android-3 .t91 {
    position: absolute;
      box-sizing: content-box;
      -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      opacity: 1;
      cursor: default;
      margin-top: 0.00px;
      margin-right: 0.00px;
      margin-bottom: 0.00px;
      margin-left: 0.00px;
      padding-top: 0.00px;
      padding-right: 0.00px;
      padding-bottom: 0.00px;
      padding-left: 0.00px;
      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      letter-spacing: -0.60px;
      color: rgba(115, 253, 234, 1);
      -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
      font-size: 12.00px;
      font-weight: 700;
    font-style: normal;
      font-family: tsukushi-a-round-gothic_bold, Arial;
      box-shadow: none;
      overflow-x: unset;
      overflow-y: unset;
      width: 16.00px;
    height: 12.00px;
    left: 227.00px;
    top: 567.00px;

}

.android-3 .t91 .t91-0 {
    color: rgba(115, 253, 234, 1);
    font-weight: 700;
    font-style: normal;
    font-size: 12.00px;
    font-family: 'Tsukushi A Round Gothic', Arial;
    letter-spacing: 0;
    undefined
}

.android-3 .t91 .t91-1 {
    color: rgba(115, 253, 234, 1);
    font-weight: 700;
    font-style: normal;
    font-size: 12.00px;
    font-family: 'Tsukushi A Round Gothic', Arial;
    letter-spacing: -0.6;
    undefined
}

.android-3 .x-1 {
    position: absolute;
      box-sizing: border-box;
      -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      opacity: 1;
      cursor: default;
      margin-top: 0.00px;
      margin-right: 0.00px;
      margin-bottom: 0.00px;
      margin-left: 0.00px;
      padding-top: 0.00px;
      padding-right: 0.00px;
      padding-bottom: 0.00px;
      padding-left: 0.00px;
      fill: rgba(255, 255, 255, 0);
      stroke: rgba(213, 213, 213, 1);
          stroke-width: 1.50px;
          stroke-linecap: butt;
      box-shadow: none;
      width: 244.00px;
    height: 244.00px;
    left: 58.00px;
    top: 164.00px;

}

.android-3 .x-11 {
    position: absolute;
      box-sizing: border-box;
      -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      opacity: 1;
      cursor: default;
      margin-top: 0.00px;
      margin-right: 0.00px;
      margin-bottom: 0.00px;
      margin-left: 0.00px;
      padding-top: 0.00px;
      padding-right: 0.00px;
      padding-bottom: 0.00px;
      padding-left: 0.00px;
      fill: rgba(255, 255, 255, 0);
      stroke: rgba(213, 213, 213, 1);
          stroke-width: 5.50px;
          stroke-linecap: butt;
      box-shadow: none;
      width: 235.00px;
    height: 235.00px;
    left: 63.00px;
    top: 169.00px;

}

.android-3 .kisspng-computer-icons-portable-network-graphics-glass-sha-5b82e87e4e86497273280415353058543216-bgood6 {
    position: absolute;
      box-sizing: content-box;
      -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      background-image: url("assets/kisspng-computer-icons-portable-network-graphics-glass-sha-5b82e87e4e86497273280415353058543216-bgood-6cd381a1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
      opacity: 1;
      cursor: default;
      margin-top: 0.00px;
      margin-right: 0.00px;
      margin-bottom: 0.00px;
      margin-left: 0.00px;
      padding-top: 0.00px;
      padding-right: 0.00px;
      padding-bottom: 0.00px;
      padding-left: 0.00px;
      background-color: rgba(255, 255, 255, 0);
      border-bottom-color: rgba(112, 112, 112, 1);
      border-bottom-style: none;
      border-bottom-width: 1.00px;
      border-left-color: rgba(112, 112, 112, 1);
      border-left-style: none;
      border-left-width: 1.00px;
      border-right-color: rgba(112, 112, 112, 1);
      border-right-style: none;
      border-right-width: 1.00px;
      border-top-color: rgba(112, 112, 112, 1);
      border-top-style: none;
      border-top-width: 1.00px;
      border-top-left-radius: 0.00px;
      border-top-right-radius: 0.00px;
      border-bottom-left-radius: 0.00px;
      border-bottom-right-radius: 0.00px;
      box-shadow: none;
      width: 226.00px;
    height: 226.00px;
    left: 67.00px;
    top: 173.00px;

}

.android-3 .x-2 {
    position: absolute;
      box-sizing: content-box;
      -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      opacity: 1;
      cursor: default;
      margin-top: 0.00px;
      margin-right: 0.00px;
      margin-bottom: 0.00px;
      margin-left: 0.00px;
      padding-top: 0.00px;
      padding-right: 0.00px;
      padding-bottom: 0.00px;
      padding-left: 0.00px;
      fill: rgba(112, 112, 112, 0.27058823529411763);
      box-shadow: none;
      width: 72.00px;
    height: 71.00px;
    left: 58.00px;
    top: 469.00px;

}

